section.landing__about {
  .l-main-wrapper {
    padding: 200px 0 90px 0;
    border-bottom: 1px solid #FFF;
    .wrapper {
      display: flex;
      .magic-image {
        align-self: flex-start;
        min-width: 380px;
        width: 380px;
        margin: 0 100px 0 0;
      }
      > div {
        width: calc(100% - 480px);
      }
    }
    .contact-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-left: 240px;
    }
  }
}
@media screen and (max-width: $tablet) {
  section.landing__about {
    .l-main-wrapper {
      padding: 70px 0;
      .wrapper {
        flex-flow: column;
        .magic-image {
          margin: 0 auto 20px auto;
          min-width: 0;
          width: 100%;
        }
        > div {
          width: 100%;
          h1, h2 {
            text-align: center;
          }
        }
      }
      .contact-wrapper {
        padding: 0;
        .magic-image {
          display: none;
        }
        .link {
          margin: 0 auto;
        }
      }
    }
  }
}