section.landing__achievments {
  background-image: url(/assets/img/landing/img_achievments-bg.png);
  background-size: cover;
  background-position: center;
  .l-main-wrapper {
    padding: 40px 0 100px 0;
    h2 {
      color: #FFF;
      margin-bottom: 70px;
      text-align: center;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 70px;
      div {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  section.landing__achievments {
    background-image: url(/assets/img/landing/img_achievments-bg_mobile.png);
    .l-main-wrapper {
      padding: 60px 0 70px 0;
      h2 {
        margin-bottom: 40px;
      }
      .wrapper {
        display: flex;
        flex-flow: column;
        div {
          display: flex;
          flex-flow: column;
          justify-content: center;
          text-align: center;
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
          img {
            max-height: 50px;
            margin: 0 0 20px 0;
          }
          p {
            margin: 0;
            font-size: 16px;
          }
        }
      }
    }
  }
}