section.landing__contact {
  background-color: #FFF;
  padding: 80px 0;
  .l-main-wrapper {
    h2 {
      margin-bottom: 10px;
    }
    h2, p {
      color: #000;
      text-align: center;
    }
     p {
      color: #6F6F6F;
      margin: 0;
     }
    form {
      margin-top: 70px;
      button[type="submit"] {
        margin: 20px auto 0 auto;
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

@media screen and (max-width: $tablet) {
  section.landing__contact {
    .l-main-wrapper {
      form {
        .col-2 {
          display: flex;
          flex-flow: column;
          > *:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}