section.landing__ventures {
  .l-main-wrapper {
    padding: 100px 0 160px 0;
    .tab-wrapper {
      .tab-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .tab-toggle {
          @extend h2;
          font-weight: $normal;
          &:not(:last-of-type) {
            margin-right: 70px;
          }
          &.--active {
            font-weight: $black;
          }
        }
      }
      .mobile-title,
      .mobile-dots {
        display: none;
      }
      .tab-content {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        &.--active {
          display: grid;
        }
        li {
          display: grid;
          grid-template-rows: 150px auto auto;
          text-align: center;
          .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 100%;
          }
          p {
            margin: 30px 0;
          }
          .link {
            justify-self: center;
            align-self: flex-end;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  section.landing__ventures {
    .l-main-wrapper {
      .tab-wrapper {
        .tab-buttons {
          display: none;
        }
        .mobile-title {
          display: block;
          font-size: 14px;
          font-weight: $black;
          text-transform: uppercase;
          color: #C355D0;
          text-align: center;
        }
        .mobile-dots {
          display: flex;
          margin: 40px 0 80px 0;
          .slick-dots {
            display: flex;
            margin: 0 auto;
            li {
              width: 8px;
              height: 8px;
              border: 1px solid #FFF;
              border-radius: 50%;
              &.slick-active {
                background-color: #FFF;
              }
              &:not(:last-of-type) {
                margin-right: 40px;
              }
              button {
                display: none;
              }
            }
          }
        }
        .tab-content {
          display: block;
          &.--active {
            display: block;
          }
          li {
            display: inline-block;
            .link {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}