section.landing__work {
  .l-main-wrapper {
    padding: 120px 0 130px 0;
    border-bottom: 1px solid #FFF;
    .tab-buttons {
      .link {
        position: relative;
        margin-bottom: 10px;
        text-transform: none;
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 240px;
          border-bottom: 1px solid #FFF;
        }
        &.--active h1 {
          font-weight: $bold;
        }
        h1 {
          margin: 0 0 30px 0;
        }
      }
    }
    .wrapper {
      display: flex;
      align-items: flex-end;
      .tab-content {
        width: 100%;
        margin: 0 0 0 100px;
        .content-wrapper {
          min-width: 350px;
          width: 350px;
          p:last-of-type {
            margin-bottom: 0;
          }
        }
        .image-wrapper {
          position: relative;
          width: 100%;
          > div {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            flex-flow: column;
            > div {
              &:nth-of-type(1),
              &:nth-of-type(3) {
                width: 240px;
              }
              &:nth-of-type(2) {
                width: 160px;
                transform: translateX(-100%);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  section.landing__work {
    .l-main-wrapper {
      padding: 70px 0;
      h2 {
        text-align: center;
        margin-bottom: 40px;
      }
      .wrapper {
        flex-flow: column-reverse;
        .link {
          margin: 0 auto;
          margin-top: 20px;
        }
        .tab-content {
          flex-flow: column-reverse;
          &.--active {
            display: flex;
            flex-flow: column-reverse;
            margin-top: 40px;
          }
          .content-wrapper {
            width: 100%;
            margin: 20px 0;
            min-width: 0;
          }
          .image-wrapper {
            > div {
              position: initial;
              align-items: flex-end;
              .magic-image {
                &:nth-of-type(2) {
                  align-self: flex-start;
                  transform: none;
                }
              }
            }
          }
        }
      }
      .tab-buttons {
        .link {
          width: 100%;
          &:before {
            width: 50%;
          }
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
          h1 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}