@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-Bold.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-BoldItalic.otf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(/assets/fonts/Gotham-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
html, body {
  background: #000;
  color: #FFF;
  font-family: Gotham, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, button {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  background: transparent;
  border: none;
}

h1, h2, section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle {
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 30px;
}
h1 strong, h1 b {
  font-weight: 800;
}

h2, section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #C355D0;
  margin-bottom: 6px;
}

label {
  color: #000;
}
label span {
  transform: translateY(20px);
}

input, textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  padding: 10px 0;
}
input:focus, textarea:focus {
  border-color: #C355D0;
  outline: none;
}

.link {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 14px;
}
.link:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/img/icons/ic_link_white.svg);
  background-size: cover;
  transform: rotate(45deg);
  margin-left: 10px;
}
.link.--black {
  color: #000;
}
.link.--black:after {
  background-image: url(/assets/img/icons/ic_link_black.svg);
}

.tab-wrapper .tab-content {
  display: none;
}
.tab-wrapper .tab-content.--active {
  display: block;
}

.l-main-wrapper {
  width: 90vw;
  max-width: 960px;
  margin: 0 auto;
}

.col-wrapper .col-1 {
  width: 100%;
}
.col-wrapper .col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
nav.--visible {
  transform: none;
}
nav .l-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .l-main-wrapper ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 20px;
}
nav .l-main-wrapper ul li a {
  color: #BDBDBD;
  font-size: 16px;
  line-height: 20px;
  transition: color 0.2s ease;
}
nav .l-main-wrapper ul li a:hover {
  color: #C355D0;
}

section.landing__hero {
  background-image: url(/assets/img/landing/img_hero.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
section.landing__hero .l-main-wrapper {
  position: relative;
  height: 100%;
}
section.landing__hero .l-main-wrapper .el-wrapper {
  width: 100%;
  height: 100%;
}
section.landing__hero .l-main-wrapper .el-wrapper img {
  position: absolute;
}
section.landing__hero .l-main-wrapper .el-wrapper img.el_k {
  top: 10%;
  left: 0;
}
section.landing__hero .l-main-wrapper .el-wrapper img.el_s {
  top: 50%;
  right: 0;
}
section.landing__hero .l-main-wrapper .el-wrapper img.el_g {
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}
section.landing__hero .l-main-wrapper .el-wrapper img.el_logo {
  top: 45%;
  left: -60px;
}
section.landing__hero .l-main-wrapper .wrapper {
  position: absolute;
  top: 10%;
  right: 0;
}
section.landing__hero .l-main-wrapper .wrapper ul li {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  font-size: 25px;
}
section.landing__hero .l-main-wrapper .wrapper ul li:not(:last-of-type) {
  margin-bottom: 10px;
}
section.landing__hero .l-main-wrapper .wrapper ul li a {
  display: block;
  transition: all 0.4s ease-out;
}
section.landing__hero .l-main-wrapper .wrapper ul li a:hover {
  transform: translateX(70px);
  color: #2A1BC5;
}

section.about-bg-wrapper {
  background-image: url(/assets/img/landing/img_about-bg.png);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

section.landing__about .l-main-wrapper {
  padding: 200px 0 90px 0;
  border-bottom: 1px solid #FFF;
}
section.landing__about .l-main-wrapper .wrapper {
  display: flex;
}
section.landing__about .l-main-wrapper .wrapper .magic-image {
  align-self: flex-start;
  min-width: 380px;
  margin: 0 100px 0 50px;
}
section.landing__about .l-main-wrapper .wrapper > div {
  width: calc(100% - 480px);
}
section.landing__about .l-main-wrapper .contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 240px;
}

section.landing__work .l-main-wrapper {
  padding: 120px 0 130px 0;
  border-bottom: 1px solid #FFF;
}
section.landing__work .l-main-wrapper .tab-buttons .link {
  position: relative;
  margin-bottom: 10px;
  text-transform: none;
}
section.landing__work .l-main-wrapper .tab-buttons .link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  border-bottom: 1px solid #FFF;
}
section.landing__work .l-main-wrapper .tab-buttons .link.--active h1 {
  font-weight: 800;
}
section.landing__work .l-main-wrapper .tab-buttons .link h1 {
  margin: 0 0 30px 0;
}
section.landing__work .l-main-wrapper .wrapper {
  display: flex;
  align-items: flex-end;
}
section.landing__work .l-main-wrapper .wrapper .tab-content {
  width: 100%;
  margin: 0 0 0 100px;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .content-wrapper {
  min-width: 350px;
  width: 350px;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .content-wrapper p:last-of-type {
  margin-bottom: 0;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .image-wrapper {
  position: relative;
  width: 100%;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .image-wrapper > div {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .image-wrapper > div > div:nth-of-type(1), section.landing__work .l-main-wrapper .wrapper .tab-content .image-wrapper > div > div:nth-of-type(3) {
  width: 240px;
}
section.landing__work .l-main-wrapper .wrapper .tab-content .image-wrapper > div > div:nth-of-type(2) {
  width: 160px;
  transform: translateX(-100%);
}

section.landing__ventures .l-main-wrapper {
  padding: 100px 0 160px 0;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle {
  font-weight: 400;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle:not(:last-of-type) {
  margin-right: 70px;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle.--active {
  font-weight: 900;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content.--active {
  display: grid;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content li {
  display: grid;
  grid-template-rows: 150px auto auto;
  text-align: center;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content li .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content li p {
  margin: 30px 0;
}
section.landing__ventures .l-main-wrapper .tab-wrapper .tab-content li .link {
  justify-self: center;
  align-self: flex-end;
}

section.landing__achievments {
  background-image: url(/assets/img/landing/img_achievments-bg.png);
  background-size: cover;
  background-position: center;
}
section.landing__achievments .l-main-wrapper {
  padding: 40px 0 100px 0;
}
section.landing__achievments .l-main-wrapper h2, section.landing__achievments section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__timeline section.landing__achievments .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__achievments section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__ventures section.landing__achievments .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle {
  color: #FFF;
  margin-bottom: 70px;
  text-align: center;
}
section.landing__achievments .l-main-wrapper .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 70px;
}
section.landing__achievments .l-main-wrapper .wrapper div {
  display: flex;
  align-items: center;
}
section.landing__achievments .l-main-wrapper .wrapper div img {
  margin-right: 20px;
}

section.landing__timeline {
  position: relative;
  height: 470px;
  overflow: hidden;
}
section.landing__timeline .slick {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
section.landing__timeline .slick .slick-list, section.landing__timeline .slick .slick-track {
  height: 100%;
}
section.landing__timeline .slick .slide {
  background-size: cover;
  width: 90vw;
}
section.landing__timeline .l-main-wrapper {
  position: relative;
  height: 100%;
}
section.landing__timeline .l-main-wrapper .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 0 0 100px;
  transition: opacity 0.2s ease-in-out;
}
section.landing__timeline .l-main-wrapper .wrapper h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
section.landing__timeline .l-main-wrapper .wrapper p {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 10px;
}
section.landing__timeline .l-main-wrapper .wrapper h2, section.landing__timeline .l-main-wrapper .wrapper .slick-controls .dots .slick-dots li button, section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li .wrapper button, section.landing__timeline section.landing__ventures .l-main-wrapper .wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__ventures section.landing__timeline .l-main-wrapper .wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__timeline section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .wrapper .tab-toggle, section.landing__ventures section.landing__timeline .l-main-wrapper .tab-wrapper .tab-buttons .wrapper .tab-toggle {
  color: #FFF;
}
section.landing__timeline .l-main-wrapper .slick-controls {
  position: absolute;
  width: 100%;
  bottom: 70px;
  left: 0;
}
section.landing__timeline .l-main-wrapper .slick-controls .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
section.landing__timeline .l-main-wrapper .slick-controls .buttons button.prev {
  transform: rotate(-90deg);
}
section.landing__timeline .l-main-wrapper .slick-controls .buttons button.next {
  transform: rotate(90deg);
}
section.landing__timeline .l-main-wrapper .slick-controls .buttons button img {
  width: 28px;
  height: 28px;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots {
  width: 100%;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 20px;
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #FFF;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li.slick-active button:before {
  width: 14px;
  height: 14px;
  background-color: #C355D0;
  margin: -3px 0 12px 0;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #FFF;
}
section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
  margin-bottom: 13px;
  pointer-events: none;
  z-index: 2;
}

section.landing__quotes {
  background-image: url(/assets/img/landing/img_quotes-bg.png);
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 370px;
  padding: 25px 0;
  overflow: hidden;
}
section.landing__quotes div {
  display: inline-block;
}
section.landing__quotes div h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  margin-bottom: 10px;
}
section.landing__quotes div h2, section.landing__quotes div section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons section.landing__quotes div .tab-toggle, section.landing__quotes div section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li section.landing__quotes div button {
  color: #FFF;
  text-transform: none;
  opacity: 0.4;
  text-align: center;
}

section.landing__contact {
  background-color: #FFF;
  padding: 80px 0;
}
section.landing__contact .l-main-wrapper h2, section.landing__contact section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__ventures section.landing__contact .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__contact section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__timeline section.landing__contact .l-main-wrapper .slick-controls .dots .slick-dots li button {
  margin-bottom: 10px;
}
section.landing__contact .l-main-wrapper h2, section.landing__contact section.landing__ventures .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__ventures section.landing__contact .l-main-wrapper .tab-wrapper .tab-buttons .tab-toggle, section.landing__contact section.landing__timeline .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__timeline section.landing__contact .l-main-wrapper .slick-controls .dots .slick-dots li button, section.landing__contact .l-main-wrapper p {
  color: #000;
  text-align: center;
}
section.landing__contact .l-main-wrapper p {
  color: #6F6F6F;
  margin: 0;
}
section.landing__contact .l-main-wrapper form {
  margin-top: 70px;
}
section.landing__contact .l-main-wrapper form button[type=submit] {
  margin: 20px auto 0 auto;
}

footer {
  background-image: url(/assets/img/landing/img_footer-bg.png);
  background-size: cover;
}
footer .l-main-wrapper {
  position: relative;
}
footer .l-main-wrapper .to-top {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C355D0;
}
footer .l-main-wrapper .wrapper {
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #FFF;
}
footer .l-main-wrapper .wrapper aside {
  display: flex;
  align-items: center;
}
footer .l-main-wrapper .wrapper aside:first-of-type {
  border-right: 1px solid #FFF;
  padding: 30px 80px 30px 0;
}
footer .l-main-wrapper .wrapper aside:last-of-type {
  width: 100%;
  justify-content: space-around;
}
footer .l-main-wrapper .wrapper aside:last-of-type .social {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}
footer .l-main-wrapper .legal {
  padding: 17px 0 11px 0;
}
footer .l-main-wrapper .legal p {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.magic-image {
  position: relative;
}
.magic-image > img {
  opacity: 0;
}
.magic-image .magic-image-wrapper {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.6s ease-in;
}

.magic-title .magic-title-wrapper {
  display: inline-block;
  overflow: hidden;
}
.magic-title .magic-title-wrapper:nth-of-type(1) span {
  -webkit-transition-delay: 0.07s;
  transition-delay: 0.07s;
}
.magic-title .magic-title-wrapper:nth-of-type(2) span {
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
.magic-title .magic-title-wrapper:nth-of-type(3) span {
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s;
}
.magic-title .magic-title-wrapper:nth-of-type(4) span {
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}
.magic-title .magic-title-wrapper:nth-of-type(5) span {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.magic-title .magic-title-wrapper:nth-of-type(6) span {
  -webkit-transition-delay: 0.42s;
  transition-delay: 0.42s;
}
.magic-title .magic-title-wrapper:nth-of-type(7) span {
  -webkit-transition-delay: 0.49s;
  transition-delay: 0.49s;
}
.magic-title .magic-title-wrapper:nth-of-type(8) span {
  -webkit-transition-delay: 0.56s;
  transition-delay: 0.56s;
}
.magic-title .magic-title-wrapper.--active > span {
  transform: none;
}
.magic-title .magic-title-wrapper > span {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.6s;
}

/*# sourceMappingURL=app.css.map */
